<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administracion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles2.css}">
</head>
<body>
<div th:replace="base :: header"></div>
<h1>Administración</h1>
<div th:fragment="listaProveedor">
    <nav>
        <ul><!--Lista-->
            <li><a href="/administracion" >Solicitudes</a></li><!--elementos de la lista-->
            <li><a href="/login">Cerrar Sesion</a></li>
        </ul>
    </nav>
</div>
<br><br>
<div>
    <h2>Lista de Proveedores</h2>


</div>
</body>
</html>