<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="base">
<div th:replace="base :: head">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles2.css}">
</div>

<body>
<div th:replace="base :: header"></div>

<h1 class="h1index">Bienvenido/a!</h1>

<p><a href="/presentation/clientes/View">ver clientes</a> </p>

<div th:replace="navegador :: lista"></div>

<h2>¿Quiénes somos?</h2>
<img src="/imagenes/minesterio.png" width="400px">
<br>
<p>El Ministerio de Hacienda de Costa Rica es el ministerio de gobierno
    de Costa Rica encargado de regir sobre la política fiscal que garantiza
    la obtención y aplicación de los recursos públicos, según los principios
    de economía, eficiencia y eficacia, mediante procesos modernos e integrados,
    para lograr una sociedad más próspera, justa y solidaria. Su actual titular
    es Nogui Acosta Jaén.</p>


<nav th:replace="footer :: footer"></nav>


</body>
</html>